<header class="container mt-5">
  <h1 class="text-center">App en Angular: Input y Output</h1>
</header>
<hr>
<app-cuenta-atras [numeroInicial]="primerContador"  [color]="arrColores[0]" (cuentaAtrasTerminada) = "terminar($event)">></app-cuenta-atras> 
<app-cuenta-atras [numeroInicial]="segundoContador" [color]="arrColores[1]"  (cuentaAtrasTerminada) = "terminar($event)"></app-cuenta-atras>
<app-cuenta-atras [numeroInicial]="tercerContador"  [color]="arrColores[3]" (cuentaAtrasTerminada) = "terminar($event)"></app-cuenta-atras>

<section class="container mt-5">
  <hr>
  <div [style]="color">
    <p>Contador parado</p>
  </div>
</section>


<router-outlet></router-outlet>