<section class="container mt-3">

    <form [formGroup]="altaForm" (ngSubmit)="getDataForm()" class="card p-3 shadow">
        <div class="my-2">
            <label for="name" class="form-label">Nombre producto</label>
            <input type="text" class="form-control mb-1" placeholder="Introduce un nombre" id="name" formControlName="name">
        </div>

        <div class="my-2">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control mb-1" placeholder="Introduce la descripcion del produccto.." id="description" formControlName="description">
        </div>

        <div class="my-2">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control mb-1" placeholder="Introduce el precio del producto" id="price" formControlName="price">
        </div>
        
        <div class="mb-3">
            <label for="category" class="form-label">Selecciona una categoria</label>
            <select class="form-select" id="category" formControlName="category">
                <option value="" selected>Elige una categoría</option>
                @for (categoria of arrayCategorias; track $index) {
                    <option value="category">{{categoria}}</option>
                 }
            </select>
        </div>

        <div class="my-2">
            <label for="image" class="form-label">Imagen del producto</label>
            <input type="text" class="form-control mb-1" placeholder="Introduce la url de la imagen" id="image" formControlName="image">
        </div>
        <input type="submit" value="Enviar" class="btn btn-secondary" [disabled]="!altaForm.valid">
    </form>
</section>