input.ng-valid.ng-touched{
    border-bottom: 2px solid lightgreen;
}

input.ng-invalid.ng-touched{
    border-bottom: 2px solid tomato;
}

.error{
    color: tomato;
    font-size: 80%;
    margin: 0px 0px 10px;
}

form {
    width: 80%;
    max-width: 800px;
    transform: scale(0.90);
    margin-top: -50px;
}

h3{
    color: #3BBFFF;
}

.btn {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-guardar {
    background-color: #6f6f6f; 
    color: white;
}

.btn-guardar:hover, .btn-guardar:active {
    background-color: #02e1ff !important;
    color: rgb(255, 255, 255) !important;
}

