<section class="d-flex justify-content-center">
    <form class="card shadow p-4" [formGroup]="usuarioForm" (ngSubmit)="getDataForm()">
        <div>
            <h3>{{tipo}} Usuarios</h3>
        </div>
        <hr>
        <div>
            <label for="first_name" class="form-label">Nombre</label>
            <input type="text" id="first_name" class="form-control" formControlName="first_name">
            @if(checkControl('first_name','required')){
            <p class="error">Campo requerido</p>
            }
            @if(checkControl('first_name','minlength')){
            <p class="error">Campo requerido</p>
            }
        </div>

        <div class="mt-3">
            <label for="last_name" class="form-label">Apellidos</label>
            <input type="text" id="last_name" class="form-control" formControlName="last_name">
            @if(checkControl('last_name','required')){
            <p class="error">Campo requerido</p>
            }
            @if(checkControl('last_name','minlength')){
            <p class="error">Campo requerido</p>
            }
        </div>


        <div class="mt-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" formControlName="username">
            @if(checkControl('username','required')){
            <p class="error">Campo requerido</p>
            }
            @if(checkControl('username','minlength')){
            <p class="error">Campo requerido</p>
            }
        </div>

        <div class="mt-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            @if(checkControl('email','pattern')){
            <p class="error">Formato incorrecto de email</p>
            }
            @if(checkControl('email','required')){
            <p class="error">Campo requerido</p>
            }
        </div>

        <div class="mt-3">
            <label for="image" class="form-label">Imagen</label>
            <input type="text" id="image" class="form-control" formControlName="image">
            @if(checkControl('image','required')){
            <p class="error">Campo requerido</p>
            }
        </div>

        <div class="mt-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" class="form-control" formControlName="password">
            @if(checkControl('password','required')){
            <p class="error">Campo requerido</p>
            }
            @if(checkControl('password','pattern')){
            <p class="error">Formato incorrecto de contraseña</p>
            }
        </div>
        <div class="d-flex gap-2 mt-4 justify-content-center">
            <input type="submit" value="{{tipo}}" class="btn btn-guardar" [disabled]="!usuarioForm.valid">
        </div>
    </form>
</section>