<section class="container mt-5 text-center">
    <!-- Mensaje de validación -->
    <div class="mb-4">
        @if(edad >= 0 && edad < 18) {
            <p class="fs-1 text-danger">NO PUEDES PASAR</p>
        } @else if(edad >= 18) {
            <p class="fs-1 text-success">PUEDES PASAR</p>
        } @else {
            <p class="fs-1 text-danger">VALOR INCORRECTO</p>
        }
    </div>

    <!-- Formulario para ingresar la edad -->
    <div class="mb-5">
        <form>
            <div class="mb-3">
                <label for="newEdad" class="form-label fs-4">EDAD:</label>
                <input 
                    type="number" 
                    class="form-control text-center" 
                    id="newEdad" 
                    name="newEdad" 
                    [(ngModel)]="newEdad">
            </div>
            <button 
                type="button" 
                class="btn btn-primary" 
                id="form-container" 
                (click)="guardarEdad()">
                ENVIAR
            </button>
        </form>
    </div>
</section>
