@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.product-card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fff;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.image-container {
  height: 300px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.2rem;
  color: #333;
}

.card-description {
  font-size: 0.9rem;
  color: #6c757d;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limitar a dos líneas */
  -webkit-box-orient: vertical;
  white-space: normal; /* Asegurar que el texto se ajuste a múltiples líneas */
}

.card-price {
  font-size: 0.80rem;
  color: #101011;
  margin-bottom: 0.5rem;
}

.card-reviews {
  font-size: 0.80rem;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.btn-outline-danger {
  border: 1px solid #dc3545;
  color: #dc3545;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.delete-button {
  width: 100%;
}
