<div class="container">
  <div> <app-product-filter (filtrosAplicados)="aplicarFiltros($event)" ></app-product-filter></div>
  <div class="row row-cols-1 row-cols-md-5 g-4">
    @for (product of productos; track product._id) {
      <div class="col">
        <app-product-card
          [miProduct]="product" 
          (onDelete)="eliminarProducto($event)">
       </app-product-card>
      </div>
    }
    @empty {
      <div class="col-12 text-center mt-4">
        <p>No hay inventario disponible</p>
      </div>
    }
  </div>
</div>