<header>
  <nav class="navbar navbar-expand-lg py-3 shadow d-flex justify-content-center">
    <h1 class="navbar-brand fs-2 fw-bold text-white">Actividad 2: App Angular</h1>
  </nav>
</header>

<main class="mt-5">
  <div class="container">
    <section class="mb-5">
      <h2 class="text-center fw-bold text-secondary mb-4"><i class="bi bi-plus-circle-fill"></i> Lista de productos</h2>
      <app-product-list></app-product-list>
    </section>
    <hr>
    <section class="mt-5">
      <div class="d-flex justify-content-center">
        <app-product-form></app-product-form>
      </div>
    </section>
  </div>
</main>

<footer class="footerColor fixed-bottom text-white text-center p-3 shadow mt-5">
  <span class="fw-bold">Actividad realizada por Pablo Prieto López 2ºDAW. 2025</span>
</footer>
