<div class="card mb-3 shadow-sm border-0 text-center">
    <div class="card-body">
        <img [src]="miUsuario.image" class="imageUser rounded-circle  p-1 bg-white mb-2" [alt]="miUsuario.username" >
        <h5 class="card-title fw-bold mb-1">{{miUsuario.firstName}} {{miUsuario.lastName}}</h5>
        <p class="card-text text-muted">{{miUsuario.username}}</p>
        <div class="d-flex justify-content-center mt-2">
            <app-botonera [miId]="miUsuario.id" [parent]="'card'"></app-botonera>
        </div>
    </div>
</div>
