<header class="bg-light p-3 border-bottom border-4 border-dark shadow-sm">
  <div class="container">
    <h1 class="text-center text-uppercase fw-bold mb-0">Actividad 2: Tienda de Ropa</h1>
  </div>
</header>

<main class="mt-5">
  <div class="container">
    <section class="mb-5">
      <h2 class="text-center fw-bold mb-4">Lista de productos</h2>
      <app-product-list></app-product-list>
    </section>

    <section class="mt-5">
      <h2 class="text-center fw-bold mb-4">Añadir Producto</h2>
      <div class="d-flex justify-content-center">
        <app-product-form></app-product-form>
      </div>
    </section>
  </div>
</main>

<footer class="bg-dark text-white py-3 mt-5">
  <div class="container text-center">
    <p class="mb-0">Actividad 2: Carga de API-Series </p>
    <p class="mb-0">Actividad desarrollada por Pablo Prieto López</p>
  </div>
</footer>
